{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<!-- Only show page with proper permissions -->
{% if accounting %}
    <h3>Debits and Credits Journal Entry</h3>
    <a href="{% url 'downloadJE' type='debits' %}" download>Download Journal Entry</a>
    <br />
    Data Preview: 
    <br />
    {{ accoutning_JE_debitsandcredits|safe }}
    <br />
    <h3>Charges Journal Entry</h3>
    <a href="{% url 'downloadJE' type='charges' %}" download>Download Journal Entry</a>
    <br />
    Data Preview: 
    <br />
    {{ accoutning_JE_charges|safe }}
{% else %}
    <ul class="messages">
        <li>
            Do not have accounting permissions.
        </li>
    </ul>
{% endif %}

{% endblock %}
