{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Intranet</h1>
    <p class="lead">Let's look at the numbers.</p>
</div>

{% if permissions %}
<div class="row">
    <div class="col-md-4">
        <h2>Reports - Last upload date</h2>
        <ul>
            {% for key, value in upload_dates.items %}
                <li class="{{ value.date_class }}">{{ key }} : {{ value.date }}</li>
            {% endfor %}
        </ul>  
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>Announcements</h2>
        <p>These are sample announcements</p>
        <ul>
            {% for announcement in announcements %}
                <li>{{ announcement }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row top-seperate">
    <div class="col-md-12">
        chart
    </div>
</div>
{% else %}
    <p>Welcome!  Please log in to get started or Contact to request an account!</p>
{% endif %}

{% endblock %}
