{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Intranet</h1>
    <p class="lead">Let's look at the numbers.</p>
</div>

{% if permissions %}
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <ul>
            {% for key, value in upload_dates %}
                <li>{{ key }} : {{ value }}</li>
            {% endfor %}
        </ul>  
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>
{% else %}
    <p>Welcome!  Please log in to get started or Contact to request an account!</p>
{% endif %}

{% endblock %}
